/*skribbl-io*/
#skribbl-io .item-title {
  background: url('https://skribbl.io/res/logo.gif');
  background-size: auto 150%;
  background-position: left center;
  background-repeat: no-repeat;
  color:rgba(0, 0, 0, 0);
}


#skribbl-io .item-row {
  background-image: url(https://skribbl.io/res/background.png);
} 

/*Limite-limac*/
@font-face {
  font-family: 'Cocogoose';
  src: url('fonts/Cocogoose Pro.ttf');
  font-weight: 500;
}

#limite-limac .item-row {
  background: linear-gradient(135deg, #E83178, #170F4A 80%);
}

#limite-limac .item-title {
  color: white;
  font-family: 'Cocogoose';
  font-weight: 100;
  text-transform: uppercase;
}
