/*garticphone*/

@font-face {
  font-family: 'nunito-black';
  src: url('../fonts/Nunito-Black.ttf');
  font-weight: 900;
}

#garticphone .item-title {
  color: white;
  font-family: 'nunito-black';
  font-weight: 900;
  font-size: 1.5em;
  text-shadow:
    rgb(42,1,81) 2pt 0pt 0pt,
    rgb(42,1,81) 1.75517pt 0.958851pt 0pt,
    rgb(42,1,81) 1.0806pt 1.68294pt 0pt,
    rgb(42,1,81) 0.141474pt 1.99499pt 0pt,
    rgb(42,1,81) -0.832294pt 1.81859pt 0pt,
    rgb(42,1,81) -1.60229pt 1.19694pt 0pt,
    rgb(42,1,81) -1.97998pt 0.28224pt 0pt,
    rgb(42,1,81) -1.87291pt -0.701566pt 0pt,
    rgb(42,1,81) -1.30729pt -1.5136pt 0pt,
    rgb(42,1,81) -0.421592pt -1.95506pt 0pt,
    rgb(42,1,81) 0.567324pt -1.91785pt 0pt,
    rgb(42,1,81) 1.41734pt -1.41108pt 0pt,
    rgb(42,1,81) 1.92034pt -0.558831pt 0pt;
}

#garticphone .item-row {
  background-image: url(https://garticphone.com/images/textura.png), linear-gradient(200deg,rgba(92,30,166,1) 0%,rgba(200,67,94,1) 100%);
  background-size: 100%;
}


/*skribbl-io*/
#skribbl-io .item-title {
  background: url('https://skribbl.io/res/logo.gif');
  background-size: auto 150%;
  background-position: -10px 50%;
  background-repeat: no-repeat;
  color:rgba(0, 0, 0, 0);
}

#skribbl-io .item-row {
  background-image: url(https://skribbl.io/res/background.png);
  background-size: 256px;
} 

/*Limite-limac*/
@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/Cocogoose Pro.ttf');
  font-weight: 500;
}

#limite-limac .item-row {
  background: url('../img/particles.png'), linear-gradient(135deg, #E83178, #170F4A 80%);
  background-attachment: fixed;

/*  animation:  limiteLimacAnim 17s -0.773s linear infinite;*/
}

@keyframes limiteLimacAnim {
    0% {
        left: -2%;
        background: #3B44D1;
    }
    100% {
        background: #9337FE;
    }
}

#limite-limac .item-title {
  color: white;
  font-family: 'Cocogoose';
  font-weight: 100;
  text-transform: uppercase;
}

/*limite-limite*/
@font-face {
  font-family: 'coolvetica';
  src: url('../fonts/coolvetica rg.ttf');
  font-weight: 500;
}

#limite-limite .item-title {
  font-family: coolvetica, Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing:.1ch;
  color: white;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

#limite-limite .item-row {
  background: #0F263F;
} 

/*pmu-race*/
#pmu-race .item-title {
  font-style: italic;
  color: white;
  font-size: 1.3em;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

#pmu-race .item-row {
  background: #00b93e;
  background-image: url(https://omeyer973.github.io/PMU-race/img/texture.png), linear-gradient(#004c19, #00b93e);
}

/*curve-fever*/
#curve-fever .item-title {
  color: rgba(0, 0, 0, 0);
  background-image: url('https://forum.curvefever.pro/uploads/default/original/2X/3/324d153940f1ad505e3e7b9e9bbf42afccaedda2.png');
  background-size: auto 70%;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

#curve-fever .item-row {
  background-image: url('https://forum.curvefever.pro/uploads/default/original/2X/b/b355919a568cda85df7d9596089ed2d22913cd64.png');
  background-color: #235772;
} 

/*diximac*/
@font-face {
  font-family: 'Berkshire Swash';
  src: local('Berkshire Swash Regular'), local('BerkshireSwash-Regular'), url(https://fonts.gstatic.com/s/berkshireswash/v9/ptRRTi-cavZOGqCvnNJDl5m5XmN_qs4z.woff2) format('woff2');
}

#diximac .item-title {
  font-family: 'Berkshire Swash', cursive;
  color: white;
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: .2ch;
}

#diximac .item-row {
  background-color: #422159;
} 

/*geoguessr*/
#geoguessr .item-title {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/GeoGuessr_logo.svg/1200px-GeoGuessr_logo.svg.png);
  background-size: auto 105%;
  background-repeat: no-repeat;
  color:rgba(0, 0, 0, 0);
}

#geoguessr .item-row {
  background-image: linear-gradient(0.25turn, rgba(0,0,0,0.1), rgba(0,0,0,0.05)), url(https://i.imgur.com/sI72mUl.png);
  background-size: 100%;
  background-position: top;
}

/*wolfy*/
#wolfy .item-title {
  color: white;
  font-size: 1.5em;
}

#wolfy .item-row {
  background-image: url(https://wolfy.fr/static/img/scene_night.svg);
  background-size: 100%;
  background-position: center;
}

/*agar-io*/
#agar-io .item-title {
  color: white;
  font-size: 1.5em;
}

#agar-io .item-row {
  background-image: url(https://agar.io/img/background.png);
  background-size: 820px;
  background-position: -100px 0;
}

/*narwhale-io*/
#narwhale-io .item-title {
  background: url('http://narwhale.io/img/NarwhaleIOlogoThinMin.gif');
  background-size: auto 120%;
  /*background-position: -10px 50%;*/
  background-repeat: no-repeat;
  color:rgba(0, 0, 0, 0);
}

#narwhale-io .item-row {
  background-image: url(https://i.ytimg.com/vi/1d7zjVpLKM8/maxresdefault.jpg);
  background-size: 100%;
  background-position: center;
  
} 

/*bombparty*/
#bombparty .item-row {
  background-image: url(https://jklm.fun/images/world/miniBanner@2x.png);
  background-size: 100%;
}

/*citat-imac*/
#citat-imac .item-title {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.5em;
}

#citat-imac .item-row {
  background: linear-gradient(-225deg, #5753c9 0%, #93A1FF 100%);
}

/*cistat-imac*/
#cistat-imac .item-title {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-style: italic;
  font-size: 1.5em;
}

#cistat-imac .item-row {
  background: linear-gradient(-225deg, #874EDD 0%, #5753c9 100%);
}