
:root {
  --titleColor: #292E32;
  --titleFont: 'Poppins', sans-serif;
  --textColor: #000;
  --textFont: 'Didact Gothic', sans-serif;
  --buttonColor: #E5354C;
  --buttonTextColor: #ffffff;
  --itemRowColor: #aeaeae;
  --itemDescriptionColor: #e0e0e0;
}

body {
  padding: 0;
  margin: 0;
  color: var(--textColor);
  background-image: linear-gradient(to bottom, #f3e7e9 0%, #e3eeff 100%);
  background-attachment: fixed;
}

h1, h2 {
  font-weight: 700;
  color: var(--titleColor);
  font-family: var(--titleFont);
  text-align: center;
  line-height: 100%;
}

span {
  display: inline-block;
}

h2 {
  font-size: 2.5em;
  margin-bottom: .4em;
}

p, a {
  font-size: 1.2em;
  font-family: var(--textFont);
}

.subtitle {
  text-align: center;
  margin-bottom: 2em;
}

.hidden {
  max-height: 0 !important;
  padding: 0 !important;
  margin:0 !important;
  color: rgba(0,0,0,0);
  visibility: hidden;
  transition: all .5s;
}

.upside-down {
  transition: all .2s;
  transform: rotate(-180deg) !important;
}

.container {
  padding: 32px 16px 16px 16px;
  max-width: 716px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 32px;
/*  background-color: #e0e0e0;
  background-image: linear-gradient(to top, #d299c2, #fef9d7);*/
  background-size: 30%;
}

#party-head {
  position: absolute;
  width: 70px;
  height: 70px;
  transform: translate( 120px, -280px) rotate(-13deg);
}

.list-item {
  margin: 8px 0px;
  background-color: var(--itemDescriptionColor);
  border-radius: 32px;
}

.list-item .item-title, .list-item p {
  margin: 0px 8px;
  text-decoration: none;
}

.item-row {
  background-color: var(--itemRowColor);
  padding: 8px ;
  display: flex;
  align-items: center;
  border-radius: 32px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  padding: 8px;
  border-radius: 24px;
  min-height: 24px;
  min-width: 24px;
  border: 2px solid /*var(--itemDescriptionColor)*/ rgba(255, 255, 255, .5);

  transition: all .2s;
  transform: rotate(0deg);
}

.icon:hover {
  background-color: var(--itemDescriptionColor);
}

.imac-icon {
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 100%;


  box-shadow: 2px 2px 0.5px  rgba(0,0,0,0.6);  border: 2px solid white;
  background-color: white;
  background-image: url('../img/logoIMAC.png');
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-31px, -25px) rotate(-10deg);
/*transform: translate(45px, -20px) rotate(-15deg);*/
}

.item-title {
  font-family: var(--titleFont);
  flex-grow: 1;
}

.button {
  flex-grow: 0;
  padding: 6px 14px;
  text-decoration: none;
  border: 2px solid var(--buttonColor);
  background-color: var(--buttonColor);
  color: var(--buttonTextColor);
  font-family: var(--titleFont);
  font-weight: 700;
  border-radius: 24px;
  text-transform: uppercase;
  transition: all .2s;
}

.button:hover {
  background-color: #ffffff;
  color: var(--buttonColor);
}

.item-description {
  padding: 8px;
  transition: all .5s;
  max-height: 8em;
}

.item-description p {
  padding: 0 0 8px 0;
}

@media only screen and (max-width: 550px) {
  body {
    font-size: .8em;
  }

  .container {
    padding: 16px 8px 8px 8px;
  }

  .icon {
    padding: 4px;
  }

  .button {
    padding: 3px 7px;
  }
}