
.title {
  z-index: 1;
  color: #fff;
  font-family: 'soloist';
  font-weight: 100;
  font-size: 3.1em;
  margin: auto;
  margin-top: 60px;
  font-stretch: condensed;
  transform: skewY(-13deg) scale(.5, .5) translate(115px, -45px);
  background-color: white;
  display: table;
  border-radius: 20px;
}

.title:before {
  position:absolute;
  background-size: 1px 1px;
  background-image: url(../img/waves.svg);
  background-size: 80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  content: 'bureau du fun';
  display: block;
  width: 100%;
  transform: translate(-115px, 45px) scale(2, 2) translate(1.5%, 6%) scale(.93, 1);
}

.title:after {
  position:absolute;
  color: var(--titleColor);
  content: 'bureau du fun';
  display: block;
  width: 100%;
  transform:translate(0, -102%) translate(-115px, 45px) scale(2, 2) scale(.93, 1);
}

.title-decoration {
  position:absolute;
  background-color: var(--buttonColor); 
  height: 6px;
  width: 200px;
  border-radius: 6px;
  border: 4px solid white;
  transform: translate(5px, 160px) rotate(-13deg) skew(-13deg);
}

.title-decoration:before{
  content: '';
  position:absolute;
  background-color: var(--buttonColor); 
  height: 5.5px;
  width: 160px;
  border-radius: 2px;
  transform: translate(-80px, 6px) rotate(1.5deg) skew(1.5deg);
}

.title-decoration:after{
  content: '';
  position:absolute;
  background-color: var(--buttonColor); 
  height: 2.5px;
  width: 280px;
  border-radius: 2px;
  transform: translate(-140px, -30px);
}

.title-holder {
  background-color: white;
  width: 14.5em;
  height: 14.5em;
  border-radius: 100%;
  text-align: center;
  margin:auto;
  vertical-align: middle;
  display:flex;
  justify-content: center;
  border: 14px solid white;
}

.title-holder:before {
  content:'';
  position:absolute;
  width: 14.5em;
  height: 14.5em;
  border-radius: 100%;
  text-align: center;
  margin:auto;
  vertical-align: middle;
  display:flex;
  justify-content: center;
  border: 6px solid var(--titleColor);
  transform: translateY(-6px);
}

.title-holder:after {
  content:'';
  position:absolute;
  width: 14.5em;
  height: 14.5em;
  text-align: center;
  margin:auto;
  vertical-align: middle;
  display:flex;
  justify-content: center;
  transform: translateY();
  background-color: white;
  transform: translateX(4px) skewY(-13deg) scale(.87, .3);
}
