@font-face {
  font-family: 'Lemons';
  src: url('../fonts/Lemons-Regular.woff');
  font-weight: 500;
}

.title {
  display: table;
  color: #fff;
  font-family: 'Lemons';
  font-weight: 600;
  font-size: 4.45em;
  line-height: .8em;
  letter-spacing: .1ch;
  background-color: white;
  margin-top: 20%;
  padding: 8px 4px 0px 4px;
  border-radius: 18px;
  transform: skewY(-13deg);
  z-index: 1;
}

.title:before {
  position:absolute;
  color:var(--buttonColor);
  background-image: url(../img/waves.svg);
  background-size: 80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  content: 'bureau du fun';
  transform: translate(2.5%, 6%);
}

.title:after {
  position:absolute;
  color: var(--titleColor);
  content: 'bureau du fun';
  display: block;
  width: 100%;
  transform:translate(0, -102%);
}

.title-decoration {
  position:absolute;
  background-color: var(--buttonColor); 
  height: 6px;
  width: 200px;
  border: 4px solid white;
  border-radius: 6px;
  transform: translate(3px, 164px) rotate(-13deg) skew(-13deg);
}

.title-decoration:before{
  content: '';
  position: absolute;
  background-color: var(--buttonColor); 
  height: 5.5px;
  width: 160px;
  border-radius: 2px;
  transform: translate(-80px, 6px) rotate(1.5deg) skew(1.5deg);
}

.title-decoration:after{
  content: '';
  position: absolute;
  background-color: var(--buttonColor); 
  height: 2.5px;
  width: 280px;
  border-radius: 2px;
  transform: translate(-140px, -30px);
}

.title-holder {
  display:flex;
  justify-content: center;
  background-color: white;
  width: 14.5em;
  height: 14.5em;
  border-radius: 100%;
  margin:auto;
  border: 14px solid white;
}

.title-holder:before {
  content:'';
  position:absolute;
  width: 14.5em;
  height: 14.5em;
  border: 6px solid var(--titleColor);
  border-radius: 100%;
  text-align: center;
  margin:auto;
  vertical-align: middle;
  display:flex;
  justify-content: center;
  transform: translateY(-6px);
}
